*{
    padding: 0;
    margin: 0;
    
}

body{
    background:#03042C;
}
#heading{
    text-align: center;
    position: relative;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}

.button{
    color:white;
    position: relative;
    font-size: 50px;
    box-shadow: 0px 25px 50px rgba(0,0,0,0.5);
    width: 240px;
    box-sizing: border-box;
    overflow:hidden;
    
    
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
    font-family:monospace;
    text-align: center;
    font-size: large;
    width:200px;
    height: 50px;
    

}
.button::before{
    content:'';
    position: absolute;
    top: 2px;
    left: 2px;
    background: rgba(225,225,225,0.05 );
}
.button span:nth-child(1){
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#2b0022,#042758 );
    animation: anim1 2s linear infinite;
}
@keyframes anim1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.button span:nth-child(2){
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top,#0c002b,#1779ff );
    animation: anim2 2s linear infinite;
    animation-delay:1s ;
}
@keyframes anim2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.button span:nth-child(3){
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#0c002b,#1779ff );
    animation: anim3 2s linear infinite;
}
@keyframes anim3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.button span:nth-child(4){
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom,#0c002b,#1779ff );
    animation: anim4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes anim4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.button:hover{
    background: #EEEB18;
    box-shadow: 0px 25px 50px #EEEB18;
    color: black;
}
.button:hover span{
    background: #EEEB18 ;
}

#romantic{
    
}
#romantic:hover{
    background: #7fff17;
    color: black;
}
#romantic:hover span{
    background:  #7fff17;
    box-shadow: 0px 25px 50px #7fff17;
    color: black;
}
.button{
    float: left;
    margin-right: 55px;
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    margin-top: 5%;
}